@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 240, 240, 240;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 240, 240, 240;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(209, 206, 206);
  background-color: rgb(7, 7, 7);
  text-shadow: 1px 0.1px #a294e0;
}

.navbar-menu div {
  height: 4px;
  background-color: white;
  margin: 5px 0;
  border-radius: 25px;
  transition: 0.3s;
}

.navbar-menu {
  width: 30px;
  display: block;
  margin: 1em 0 0 1em;
}

.one {
  width: 30px;
}

.two {
  width: 20px;
}

.three {
  width: 25px;
}

.navbar-menu:hover div {
  width: 30px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: #333;
  color: #95A9E7;
}

.nav-item {
  cursor: pointer;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #9A8DD4;
  min-width: 260px;
  z-index: 1;
}

.dropdown-item {
  padding: 12px;
  color: #02081a;
  text-align: center;
  border: 1px solid black;
}

.dropdown-item:hover {
  background-color: #8575ce;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #0E1F42;
  padding: 100px;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}


